body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f0f0f0;
}

.container {
    height: 50vh;
    width: 600px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 2px #888888;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    font-size: 18px;
    border: 2px solid #d4cbcb;
    min-height:180px;
}

textarea:focus {
    border-color: #2fbfb3;
    box-shadow: 0px 0px 5px rgba(29, 126, 96, 0.5);
}